/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1f3;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 600px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 27px;
}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top-blogs styles */
.blog .thumbnail img{
    width: 177px;
    height: 177px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display:flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title {
    font-size: 17px;
}
.blog-author{
    font-size: 16px;
    color: #9f9f9f;
}.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}
/* -------------
course style
--------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
}
.course .course-banner img{
    width: 180px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #aeaeae;
}
/* -----------------
media Queries
--------------- */

/* mobile device */
@media only screen and (max-width:380px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
            grid-template-columns: repeat(1,1fr);}
    .player, .blog, .course{
    flex-direction: column;
}
}
/* tablet device */
@media only screen and (min-width:380px) and (max-width:680px);
    .players{
        background-color: yellow;
    }
}
    
